
/*
Sets the background to grey-black, text color to white.
*/
body {
  padding: 35px;
  background-color: #202020;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
Sets section color to dark slate grey, changes max width to 70em and makes border 10px thick
*/
.section{
  border-radius: 25px;
  padding: 10px;
  border: 10px solid;
  margin: 10px;
  max-width: 70em;
  justify-content: center;
  background-color:darkslategray;
}

#tools {
  text-align: center;
}

/*
Lines up unordered lists next to eachother instead of on top of eachother. Also aligns text to the top of section box for uniformity.
*/
.version-control, .ide, .testing {
  display: inline-block;
  vertical-align: text-top;
}

/*
Example of Grouping and Class selection
*/
.version-control ul, .ide ul, .testing ul {
  list-style-type: none;
}

/*
All headers centered with different font
*/
h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: white;
}

#faculty > ul > li {
  display: inline-block;
  font-family: sans-serif;
  padding: 30px;
}

#faculty-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.pic {
  border: 5px solid;
}

#style-selector {
  position: fixed;
  top: 0;
  background-color:darkslategray;
  width:100%;
}

#style-selector ul {
    margin: 0;
    padding: 0;
  }

  #style-selector li {
    display:inline;
    float:right;
  }

  /*
  Example of Nesting and ID selection
  */
  #style-selector li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /*
  Displays block with background color when hovering over selector.
  */
  #style-selector li a:hover:not(.active) {
    background-color:#202020;
  }

  #validation {
    padding: 25px;
    text-align: center;
    font-size:small;
  }

  #validation ul {
    list-style-type: none;
  }

